<html ng-app="calculatorApp">
    <head>
        <title>cheb1n's asmodeum optimizer</title>
        <style>
            table, td, th {
                border: 1px solid black;
            }
            table {
                border-collapse: collapse;
            }
        </style>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
        <script>
            var calculatorApp = angular.module('calculatorApp', []);
            calculatorApp.controller('CalculatorController', function CalculatorController() {
                /* inputs */
                this.greenWood = 0.38;
                this.sandFlux = 1.88;
                this.shelldustFlux = 2.48;
                this.obsidianFlux = 2.00;
                this.ironOre = 0.32;
                this.starmetalOre = 1.66;
                this.orichalcumOre = 0.34;
                this.tolviumAndCinnabar = 350;
                
                this.charcoalBuy = 0.76;
                this.ironIngotBuy = 2.00;
                this.steelIngotBuy = 5.00;
                this.starmetalIngotBuy = 17.00;
                this.orichalcumIngotBuy = 34.00;
                this.asmodeumIngotBuy = 872;

                /* outputs */
                this.charcoalCraft = () => this.greenWood * 2 / 1.20;
                this.optimalCharcoal = () => Math.min(this.charcoalBuy, this.charcoalCraft());

                this.ironIngotCraft = () => this.ironOre * 4 / 1.21;
                this.optimalIron = () => Math.min(this.ironIngotBuy, this.ironIngotCraft());
                this.steelIngotCraftWithSandFlux = () => (this.optimalIron() * 3 + this.optimalCharcoal() * 2 + this.sandFlux) / 1.18;
                this.steelIngotCraftWithShelldustFlux = () => (this.optimalIron() * 3 + this.optimalCharcoal() * 2 + this.shelldustFlux) / 1.68;
                this.steelIngotCraftWithObsidianFlux = () => (this.optimalIron() * 3 + this.optimalCharcoal() * 2 + this.obsidianFlux) / 1.93;

                this.optimalSteel = () => Math.min(this.steelIngotBuy, this.steelIngotCraftWithSandFlux(), this.steelIngotCraftWithShelldustFlux(), this.steelIngotCraftWithObsidianFlux());
                this.starmetalIngotCraftWithSandFlux = () => (this.optimalSteel() * 2 + this.optimalCharcoal() * 2 + this.starmetalOre * 6 + this.sandFlux) / 1.1;
                this.starmetalIngotCraftWithShelldustFlux = () => (this.optimalSteel() * 2 + this.optimalCharcoal() * 2 + this.starmetalOre * 6 + this.shelldustFlux) / 1.15;
                this.starmetalIngotCraftWithObsidianFlux = () => (this.optimalSteel() * 2 + this.optimalCharcoal() * 2 + this.starmetalOre * 6 +  this.obsidianFlux) / 1.4;

                this.optimalStarmetal = () => Math.min(this.starmetalIngotBuy, this.starmetalIngotCraftWithSandFlux(), this.starmetalIngotCraftWithShelldustFlux(), this.starmetalIngotCraftWithObsidianFlux());
                this.orichalcumIngotCraftWithSandFlux = () => (this.optimalStarmetal() * 2 + this.optimalCharcoal() * 2 + this.orichalcumOre * 8 + this.sandFlux) / 1.03;
                this.orichalcumIngotCraftWithShelldustFlux = () => (this.optimalStarmetal() * 2 + this.optimalCharcoal() * 2 + this.orichalcumOre * 8 + this.shelldustFlux) / 1.08;
                this.orichalcumIngotCraftWithObsidianFlux = () => (this.optimalStarmetal() * 2 + this.optimalCharcoal() * 2 + this.orichalcumOre * 8 +  this.obsidianFlux) / 1.13;

                this.optimalOrichalcum = () => Math.min(this.orichalcumIngotBuy, this.orichalcumIngotCraftWithSandFlux(), this.orichalcumIngotCraftWithShelldustFlux(), this.orichalcumIngotCraftWithObsidianFlux());
                this.asmodeumCraft = () => this.optimalOrichalcum() * 5 + this.optimalCharcoal() * 2 + this.tolviumAndCinnabar + this.obsidianFlux;
            });
        </script>
    </head>
    <body ng-controller="CalculatorController as calculator">
        <h1>cheb1n's asmodeum optimizer</h1>
        <h2>background</h2>
        <p>new world's material refinement duping chance creates an interesting decision space</p>
        <ul>
            <li>
                is it cheaper to buy or craft this product?
                <ul><li>if i'm crafting, which reagent will result in the highest quantity/price?</li></ul>
            </li>
        </ul>
        <p>notably, chaining these decisions over several intermediate products can result in a spare bit of pocket change -- i once was able to craft orichalcum for 12 instead of buying for 17</p>
        <p>this can help save money if a friend has recently scammed you*</p>
        <h2>how to use</h2>
        <p>fill in all the buy prices</p>
        <p>as you do, the craftables will also have their craft prices populated using the cheapest possible craft price of the previous row</p>
        <ol>
            <li>to determine the cheapest method of obtaining a craftable, look at the cheapest price in the row (including buy price)</li>
            <li>if the buy price is cheapest, just buy it. you are done</li>
            <li>otherwise, if one of the crafted prices is the cheapest, craft it, using any listed reagents</li>
            <li>if you are missing a craftable mat (e.g. iron ingot for steel), go back to step one to determine the cheapest method of obtaining the missing craftable mat</li>
        </ol>
        <table>
            <tr>
                <th>non-craftable</th>
                <th>price</th>
            </tr>
            <tr>
                <td>sand flux</td>
                <td><input type="number" ng-model="calculator.sandFlux"></input></td>
            </tr>
            <tr>
                <td>shelldust flux</td>
                <td><input type="number" ng-model="calculator.shelldustFlux"></input></td>
            </tr>
            <tr>
                <td>obsidian flux</td>
                <td><input type="number" ng-model="calculator.obsidianFlux"></input></td>
            </tr>
            <tr>
                <td>iron ore</td>
                <td><input type="number" ng-model="calculator.ironOre"></input></td>
            </tr>
            <tr>
                <td>starmetal ore</td>
                <td><input type="number" ng-model="calculator.starmetalOre"></input></td>
            </tr>
            <tr>
                <td>orichalcum ore</td>
                <td><input type="number" ng-model="calculator.orichalcumOre"></input></td>
            </tr>
            <tr>
                <td>tolvium & cinnabar</td>
                <td><input type="number" ng-model="calculator.tolviumAndCinnabar"></input></td>
            </tr>
        </table>

        <table>
            <tr>
                <th>craftable</th>
                <th>buy price</th>
                <th>craft price</th>
                <th>craft w/ sand price</th>
                <th>craft w/ shelldust price</th>
                <th>craft w/ obsidian price</th>
            </tr>
            <tr>
                <td>charcoal</td>
                <td><input type="number" ng-model="calculator.charcoalBuy"></input></td>
                <td>{{calculator.charcoalCraft() | number : 2}}</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>iron ingot</td>
                <td><input type="number" ng-model="calculator.ironIngotBuy"></td>
                <td>{{calculator.ironIngotCraft() | number : 2}}</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>steel ingot</td>
                <td><input type="number" ng-model="calculator.steelIngotBuy"></td>
                <td></td>
                <td>{{calculator.steelIngotCraftWithSandFlux() | number : 2}}</td>
                <td>{{calculator.steelIngotCraftWithShelldustFlux() | number : 2}}</td>
                <td>{{calculator.steelIngotCraftWithObsidianFlux() | number : 2}}</td>
            </tr>
            <tr>
                <td>starmetal ingot</td>
                <td><input type="number" ng-model="calculator.starmetalIngotBuy"></td>
                <td></td>
                <td>{{calculator.starmetalIngotCraftWithSandFlux() | number : 2}}</td>
                <td>{{calculator.starmetalIngotCraftWithShelldustFlux() | number : 2}}</td>
                <td>{{calculator.starmetalIngotCraftWithObsidianFlux() | number : 2}}</td>
            </tr>
            <tr>
                <td>orichalcum ingot</td>
                <td><input type="number" ng-model="calculator.orichalcumIngotBuy"></td>
                <td></td>
                <td>{{calculator.orichalcumIngotCraftWithSandFlux() | number : 2 }}</td>
                <td>{{calculator.orichalcumIngotCraftWithShelldustFlux() | number : 2}}</td>
                <td>{{calculator.orichalcumIngotCraftWithObsidianFlux() | number : 2}}</td>
            </tr>
            <tr>
                <td>asmodeum ingot</td>
                <td><input type="number" ng-model="calculator.asmodeumIngotBuy"></td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{calculator.asmodeumCraft() | number : 2}}</td>
            </tr>
        </table>
        <h2>notes</h2>
        <ul>
            <li>only the default lv 200 dupe chances are used. no clothes or proficiency boosters</li>
            <li>this won't work for the other refining skills because the crafting recipies have different ratios</li>
            <li>from personal experience, i would advise against bulk-crafting and bulk-selling any craftables except asmo. if you spot high margins, it's probably due to low market liquidity and not high demand</li>
            <li>*he did offer to pay me back but this is my favorite meme</li>
        </ul>
    </body>
</html>
